*
{
    margin: 0%;
    border: border-box;
    font-family: Raleway;
}
.navbar
{
    height: 60px;
    background-color:  #0F1111;
    color:white ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.nav-logo
{
  height: 60px;
  width: 100px;
}
.logo
{
    background-image: url("Copy\ of\ amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    display: block;

}
.border
{
    border: 1px solid transparent;
}
.border:hover{
    border: 1.5px solid white;

}
/**/
.f-add
{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
    
}
.s-add
{
    font-size: 1rem;
    margin-left: 3px;
}
.loc
{
    display: flex;
    margin-right: 2px;
}
/* Box 3 */
.search
{
    display: flex;
    margin-left: 14px;
}

.search-icon
{
    
    background-color:orange; 
    height: 42px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px ;
    border: none;
    outline-style: none;
    font-size: 1.2rem;
    color: #0F1111;
}

.search-select
{
    text-align: center;
    width: 50px;
    border-radius: 5px 0px 0px 5px ;
    border: none;
    outline-style: none;
    background-color: lightgray;
    

}
.search-input
{
    outline:none;
    border: none;
    font-size: medium;
    height: 42px;
    width:400px;
}
.flag
{
    background-image: url("flag.jpeg");
    height: 40px;
    width: 40px;
}



.first-b
{
    font-size: 0.8rem;
}
.sec-b
{
    font-size: 1rem;
    font-weight: 600;

}


.cart i{

    font-size: 30px;
}
.cart{
    font-size: 0.85rem;
    font-weight: bold;
}
.panel{
    display: flex;
    height: 40px;
    width: 100%;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-options p
{
    font-weight: bold;
    display: inline;
    margin-left: 13px;
}
.panel-options p:hover
{
    border:1px solid white;
}

.all
{
    width: 65px;
    margin-left: 19px;
}
.top-section
{
    background-image: url(main.jpg);
    height: 340px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}
.sen{
    background-color: white;
    color: #0F1111;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;

}
.sen a{
    color: #007185;

}
.content-section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    
}

.box
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 370px;
    width: 23%;
    text-align: center;
    background-color: white;
    padding: 20px 0px 15px;
}
.box-content p
{
   margin-left:1rem;
   margin-right: 1rem;

}
.content-section p{
    color: #007185;
   font-size: 12px;
   margin-left: -210px;
   text-decoration: underline;



}
.box-image
{
    background-size: cover;
}
.box-image 
{
    height: 300px;
    margin: 1rem;
}

.foot
{
    height: 49px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.mainspec
{
    height: 300px;
    width: 100%;
    background-color: #e2e7e6;
    justify-content: space-evenly;


}
.secpan{
    display: flex;


}
.secpan-box 
{
    margin-top: 2rem;
    height: 250px;
    width: 250px;
    background-color:white;
    margin-left: 10px; 
    align-items: center;

}
.secpan-box p{
    text-align: center;font-weight: bold;
}
.img-box
{
    margin: 22px 0px 5px 25px;

    height: 200px;
    background-repeat: no-repeat;

    
}
.lastone
{

   height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:  #222f3d;
    color: white;
    vertical-align: text-top;

}
.hed
{
    font-weight: 900;
    font-size: 30px;
}
.lastp
{
    height:300px;
    background-color: #222f3d;
}
.search:hover{
    outline:1px solid orange;
}